.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . ."
      ". . .";
  }
/* 
.div.grid-container.jumbotron {
    padding: 10% 20% !important;
} */